{% extends "theme_base.html" %}

{% load metron_tags %}
{% load i18n %}
{% load sitetree %}
{% load markitup_tags %}
{% load static %}

{% block viewport %}{% endblock %}

{% block style_base %}
    <link href="{% static "symposion/css/symposion.css" %}" rel="stylesheet">
    {% block extra_style %}{% endblock %}
{% endblock %}

{% block extra_head_base %}
    <script src="{% block jquery_src %}{% static "pinax/js/jquery.js" %}{% endblock %}"></script>
    {% markitup_media "no-jquery" %}
    {% block extra_head %}{% endblock %}
{% endblock %}

{% block wrapper_class %}outer-container{% endblock %}

{% block site_brand %}
    <a class="brand" href="{% url home %}">{{ SITE_NAME }}</a>
{% endblock %}

{% block navbar_class %}navbar-fixed-top{% endblock %}

{% block nav %}
    {% sitetree_menu from "main" include "trunk" template "sitetree/menu_bootstrap.html" %}
{% endblock %}

{% block body_base %}
    <div class="container">
        
        {% include "_messages.html" %}
        
        {% block body_outer %}
            <div class="row">
                <div class="span9">
                    {% block body %}
                    {% endblock %}
                </div>
                <div class="span3">
                    {% block sidebar %}
                        {% include "_default_sidebar.html" %}
                    {% endblock %}
                </div>
            </div>
        {% endblock %}
        
        {% block footer %}
            <footer class="footer">
                <div class="pull-left">
                    &copy;2013
                </div>
                
                <div class="pull-right">
                    Site powered by <a href="http://eldarion.com/symposion/"><b>Symposion</b></a>.
                </div>
            </footer>
        {% endblock %}
    </div>
{% endblock %}

{% block script_base %}
    {% analytics %}
    <script src="{% static "bootstrap/js/bootstrap.js" %}"></script>
    <script src="{% static "pinax/js/theme.js" %}"></script>
    {% block extra_script %}{% endblock %}
{% endblock %}
