{% load i18n %}
{% url 'speaker_create_token' token as token_url %}
{% blocktrans with invitator=proposal.speaker.name title=proposal.title site_name=current_site.name %}
<p>{{ invitator }} attached you as an additional speaker to a
    talk proposal for {{ site_name }} entitled "{{ title }}".</p>

<p>Go to</p>

<p><a href="http://{{ current_site }}{{ token_url }}">http://{{ current_site }}{{ token_url }}</a></p>

<p>to confirm.</p>

<p>If you don't have account on the website, you will be asked to create one.</p>
{% endblocktrans %}
