{% load i18n %}
{% blocktrans with sponsor_name=sponsor.name applicant=sponsor.applicant contact=sponsor.contact_name email=sponsor.contact_email level=sponsor.level %}
<p>{{ sponsor_name }} has applied to be a sponsor.</p>

<ul>
    <li><b>Applicant</b>: {{ applicant }}</li>
    <li><b>Sponsor Name</b>: {{ sponsor_name }}</li>
    <li><b>Sponsor Contact</b>: {{ contact }}</li>
    <li><b>Sponsor Contact Email</b>: {{ email }}</li>
    <li><b>Sponsorship Level</b>: {{ level }}</li>
</ul>
{% endblocktrans %}
