{% load account_tags %}
{% load i18n %}
{% user_display user as username %}
<p>
  {% blocktrans with title=proposal.title %}<b>{{ username }}</b> has made changes to <b>{{ title }}</b> which you have previously reviewed or commented on.{% endblocktrans %}
</p>
<p>
    {% url 'review_detail' proposal.pk as detail_url %}
    {% blocktrans %}View the latest version of the proposal online at <a href="http://{{ current_site }}{{ detail_url }}">http://{{ current_site }}{{ detail_url }}</a>{% endblocktrans %}
</p>
